.title{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.paragraph{
	font-size: 24px;
}
.blockDiv{
	padding-top: 2rem;
	padding-bottom: 2rem;	
}
.cardblock{
	padding-left: 1rem;
	padding-right: 1rem;
}
.carddiv{
	padding-top: 15px;
	padding-bottom: 15px;
}
.schedule{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 25px;
	color: white;
}
.info{
	text-align: center;
	font-size: 28px;
	color: white;
}
.icon{
	width: 10%;
	height: 10%;
}