.title{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
  }
}
}
.paragraph{
	font-size: 24px;
}
.blockDiv{
	padding-top: 2rem;
	padding-bottom: 2rem;	
}
.cardst{

}
.cardblock{
	padding-left: 1rem;
	padding-right: 1rem;
}
.carddiv{
	padding-top: 15px;
	padding-bottom: 15px;
}
.schedule{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 25px;
	color: white;
}
.info{
	text-align: center;
	font-size: 28px;
	color: white;
}
.icon{
	width: 10%;
	height: 10%;
}
.footer{
	padding-top: 1rem;
	font-size: 28px;
	color: white;
	text-align: center;
	padding-bottom: 1rem;
}
.rec{
	font-size: 26px;
}
@media all and (max-width: 1000px){
	.title{
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		font-size: 30px;
	}
	.cardst, b, em, .paragraph, .schedule, .rec, .info,.footer {
		font-size: 18px;
	}
	.buttonsize{
		width: 88px;
		height: 37px;
		font-size: 14px;
	}

}
	@media all and (max-width: 350px){
	.title{
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		font-size: 20px;
	}
	.cardst, b, em, .paragraph, .schedule, .rec, .info, .footer{
		font-size: 14px;
	}
	.buttonsize{
		width: 70px;
		font-size: 10px;
	}